<%- include('partials/header'); -%>

    <!-- Subjects Section -->
    <div class="container-fluid">
        <div class="row subjects">
            <div class="col-lg-12 border">
                <h3 class="text-center mt-3">Pilih Mata Pelajaran</h3>
                <div class="card-group link-item">
                    <div class="card card-subjects">
                        <i class="fas fa-square-root-alt fa-4x"></i>
                        <div class="card-body">
                            <a href="#">
                                <h6 class="card-title">Math</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card card-subjects">
                        <i class="fas fa-book fa-4x"></i>
                        <div class="card-body">
                            <a href="#">
                                <h6 class="card-title">Bahasa</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card card-subjects">
                        <i class="fas fa-bong fa-4x"></i>
                        <div class="card-body">
                            <a href="#">
                                <h6 class="card-title">Physic</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card card-subjects">
                        <i class="fas fa-laptop-code fa-4x"></i>
                        <div class="card-body">
                            <a href="#">
                                <h6 class="card-title">Computer</h6>
                            </a>
                        </div>
                    </div>
                    <div class="card card-subjects">
                        <i class="fas fa-people-carry fa-4x"></i>
                        <div class="card-body">
                            <a href="#">
                                <h6 class="card-title">Social</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div id="carouselSubjects" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card-group">
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">Math</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">Math</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card-group">
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="card-group">
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>
                                <div class="card card-subjects">
                                    <i class="fas fa-book-open fa-5x"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">Math</h5>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselSubjects" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSubjects" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>

    <!-- TimeLine And Progress Section -->
    <div class="container-fluid">
        <div class="row subjects">
            <div class="col-lg-8 border ">
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>

            </div>
            <div class="col-lg-4 border ">
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
            </div>
        </div>
    </div>

    <!-- List And Calendar Section -->
    <div class="container-fluid">
        <div class="row subjects">
            <div class="col-lg-8 border ">
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
            </div>
            <div class="col-lg-4 border">
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
                <p>
                    This is container studies
                </p>
            </div>
        </div>
    </div>
    <%- include( 'partials/footer'); -%>